* { box-sizing: border-box; }

body {
  margin: 0;
   background: #eef2f7e8;
  color: #111827;
}


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  width: 100%;
  padding-top: 90px;   
  padding-left: 20px;
  padding-right: 20px;
}

.page-container {
  width: 100vh;
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 0;
}
