.footer {
  width: 100vw;
  height: 60px;

  background: #0f172a;
  border-top: 1px solid #1f2937;
  
  

  display: flex;
  align-items: center;
  justify-content: center;  
  
  
  font-size: 15px;
}

.footer-container {
  width: 100vw;
  max-width: 1200px;
  padding: 0 40px;
  text-align: center;
}

.footer-text {
  color: #cbd5e1;
  font-weight: 500;
}
p:hover {
  color: #06b6d4;
}